@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-playfair), serif;
  cursor: url('/curser.svg'), auto;
}

/* 1. Webkit scrollbar styling */
body::-webkit-scrollbar {
  width: 0.1px;
  height: 0.1px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: wheat;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* 2. Make scrollbar float (no layout shift) */
@layer base {
  html {
    overflow-y: overlay;
    /* overlay makes scrollbar float over content instead of resizing the page */
  }
}